body { 
	margin: 0.0;
	padding: 0.0 5.0%;
	background: #ffffff;
	font-family: 'Source Sans Pro', 'sans-serif';
	font-family: 'sans-serif';
	line-height: 1.7;
	color: #555555;
	text-rendering: optimizeLegibility;
}
a { 
	color: #ff7b55;
	text-decoration: none;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: color 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
a:hover, a:focus { 
	color: #98d2c7;
	font-weight: inherit;
}
:selection { 
	background: rgba(255,123,85,0.8);
	color: #ffffff;
}
h1, h2, h3, h4, h5, h6 { 
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 400;
	text-rendering: optimizeLegibility;
	margin-top: 0.2rem;
}
h2 { 
	font-size: 16.0px;
	letter-spacing: 2.0px;
	text-transform: uppercase;
	margin-bottom: 20.0px;
	color: #ff7b55;
}
h3 { 
	font-size: 13.0px;
	text-transform: uppercase;
	letter-spacing: 1.0px;
}
p { 
	margin-top: 0.0;
	margin-bottom: 20.0px;
}
.notavailable { 
	text-decoration: line-through;
}
.text-center { 
	text-align: center;
}
.text-left { 
	text-align: left;
}
.lead { 
	font-size: 22.0px;
	font-weight: 300;
	line-height: 1.5;
	padding: 0.0;
	margin: 0.0 auto 1.0rem auto;
	letter-spacing: 1.0px;
}
.large { 
	font-size: 24.0px;
	font-weight: 300;
	line-height: 1.5;
	padding: 0.0;
	margin: 0.0 auto 1.0rem auto;
	letter-spacing: 1.0px;
}
.small { 
	font-family: 'Montserrat', sans-serif;
	font-size: 11.0px;
	text-transform: uppercase;
	letter-spacing: 1.0px;
	display: block;
	line-height: 20.0px;
	color: #999999;
}
.smtext { 
	font-size: 13.0px;
	font-weight: 400;
	letter-spacing: 1.0px;
	color: #999999;
}
.smtext a { 
	color: #999999;
}
.smtext a:hover { 
	color: #98d2c7;
}
.right-arrow { 
	text-align: right;
}
abbr { 
	cursor: pointer;
}
code { 
	font-size: 14.0px;
}
nav ul { 
	margin: 0.0 0.0 10.0px 0.0;
	padding: 0.0;
	color: #ff7b55;
}
nav li { 
	list-style: none;
	display: inline-block;
	margin: 0.0 30.0px 0.0 0.0;
}
header, .container { 
	margin: 0.0 auto;
	width: 100.0%;
	padding: 60.0px 0.0 30.0px 0.0;
}
.work .row img { 
	margin-bottom: 50.0px;
}
.about h3 { 
	margin-bottom: 5.0px;
}
.about img, .services img, .work img { 
	margin: 0.0 auto;
	text-align: center;
	display: block;
}
.servicelist { 
	margin: 0.0;
	padding: 0.0;
}
.servicelist li { 
	margin-bottom: 20.0px;
	line-height: 1.4;
	list-style: none;
}
.desk { 
	width: 100.0%;
	margin-top: 20.0px;
	padding: 40.0px 0.0;
	background: #ffeae3;
	text-align: center;
}
.process h3 { 
	margin-top: 40.0px;
	color: #ff7b55;
}
.process p { 
	margin: 0.0 0.0 50.0px 0.0;
}
.processicon { 
	font-size: 80.0px;
	line-height: 60.0px;
	margin: 0.0 auto;
	text-align: center;
	display: block;
	position: relative;
	color: #555555;
}
.step { 
	position: relative;
	width: 40.0px;
	height: 40.0px;
	-webkit-border-radius: 40.0px;
	border-radius: 40.0px;
	font-size: 12.0px;
	font-weight: 700;
	color: #ffffff;
	text-align: center;
	line-height: 40.0px;
	background: rgba(255,123,85,0.8);
}
.number-one { 
	top: 50.0px;
	left: 28.0%;
}
.number-two { 
	top: 20.0px;
	left: 17.0%;
}
.number-three { 
	top: 67.0px;
	left: 16.0%;
}
.number-four { 
	top: 20.0px;
	left: 15.0%;
}
.processitem:hover .step { 
	background: rgba(152,210,199,0.8);
}
.processitem:hover h3 { 
	color: #98d2c7;
}
.hq { 
	margin: 60.0px auto;
	text-align: center;
}
.hq span { 
	color: #98d2c7;
}
#map_canvas { 
	width: 100.0%;
	height: 50.0%;
	background: #d6ede9;
}
input, textarea { 
	width: 100.0%;
	border: none;
	background: #ffffff;
	border: 2.0px solid #eeeeee;
	font-size: 14.0px;
	padding: 15.0px;
	margin-bottom: 20.0px;
}
select { 
	margin-bottom: 10.0px;
}
button, .button, .form-submit input, .search-submit { 
	border: 2.0px solid #ff7b55;
	cursor: pointer;
	font-weight: 400;
	letter-spacing: 1.0px;
	color: #ff7b55;
	line-height: normal;
	margin: 0.0;
	position: relative;
	text-decoration: none;
	text-align: center;
	-webkit-appearance: none;
	-webkit-border-radius: 0.0;
	border-radius: 0.0;
	display: inline-block;
	padding-top: 10.0px;
	padding-right: 15.0px;
	padding-bottom: 11.0px;
	padding-left: 15.0px;
	font-size: 14.0px;
	background-color: transparent;
	transition: background-color 300.0ms ease-out;
	width: auto;
}
button:hover, button:focus, .button:hover, .button:focus, .form-submit input:hover, .form-submit input:focus { 
	background: #ff7b55;
	color: #ffffff;
	border: 2.0px solid #ff7b55;
}
.search-form { 
	margin-bottom: 40.0px;
}
article { 
	margin-bottom: 80.0px;
}
article footer { 
	padding: 0.0;
	border: 0.0;
}
.metadata { 
	font-size: 13.0px;
	font-weight: 400;
	letter-spacing: 1.0px;
	color: #999999;
	margin-bottom: 20.0px;
}
.metadata a { 
	color: #999999;
}
.metadata a:hover { 
	color: #98d2c7;
}
.smscreen { 
	display: none;
}
.more-link { 
	display: block;
	margin: 20.0px 0.0;
}
#postcontent img { 
	margin: 0.0 auto 10.0px auto;
	text-align: center;
}
figure { 
	margin: 0.0;
}
figcaption { 
	font-size: 13.0px;
	font-weight: 400;
	letter-spacing: 1.0px;
	color: #999999;
	margin: 0.0 0.0 30.0px 0.0;
}
figcaption a { 
	color: #999999;
	border-bottom: 1.0px solid #dddddd;
}
figcaption a:hover { 
	color: #98d2c7;
	border-color: #98d2c7;
}
#comments { 
	padding: 30.0px 0.0;
}
#comments article { 
	margin-bottom: 0.0;
}
#comments ol { 
	list-style: none;
	margin: 0.0 0.0 60.0px 0.0;
	padding: 0.0;
}
#comments li { 
	padding: 40.0px;
	margin-bottom: 10.0px;
	background: #f8f8f8;
}
#comments .metadata { 
	margin-bottom: 20.0px;
	padding-bottom: 20.0px;
	border-bottom: 1.0px solid #eeeeee;
}
#comments blockquote, #comments cite { 
	text-align: left;
}
#comments blockquote { 
	border-left: 3.0px solid #cccccc;
	font-size: 16.0px;
	font-weight: 400;
	letter-spacing: normal;
	margin: 20.0px auto;
	padding: 5.0px 20.0px;
	background: #ffffff;
}
#comments li:hover { 
	background: #fdf3e9;
}
#comments li:hover .metadata { 
	border-bottom: 1.0px solid #fbe7d3;
}
#comments li:hover blockquote { 
	border-left: 3.0px solid #ff7b55;
}
#comments blockquote p { 
	margin-bottom: 0.0;
}
#comments cite { 
	padding-left: 0.0;
}
.page-title { 
	color: #555555;
}
#proj article { 
	margin-bottom: 0.0;
}
#proj img { 
	margin: 30.0px auto;
	text-align: center;
	display: block;
}
#proj h2 { 
	margin-bottom: 0.0;
}
#proj .right-arrow { 
	text-align: left;
}
.projcat { 
	margin-bottom: 20.0px;
}
.projcaption { 
	padding-bottom: 40.0px;
}
.prev { 
	float: left;
}
.next { 
	float: right;
	text-align: right;
}
footer { 
	width: 100.0%;
	margin: 0.0 auto;
	padding: 60.0px 7.0;
	border-top: 1.0px solid #eeeeee;
	color: #555555;
	clear: both;
}
blockquote { 
	font-size: 22.0px;
	font-weight: 300;
	padding: 0.0;
	margin: 0.0 auto 60.0px auto;
	text-align: center;
	letter-spacing: 1.0px;
}
cite { 
	font-family: 'Montserrat', sans-serif;
	font-size: 11.0px;
	font-weight: 400;
	letter-spacing: 1.0px;
	text-transform: uppercase;
	font-style: normal;
}
cite { 
	padding-left: 10.0px;
}
.copyright { 
	font-size: 13.0px;
	font-weight: 400;
	letter-spacing: 1.0px;
}
.copyright { 
	margin-top: 20.0px;
}
.copyright a { 
	border-bottom: none;
}
.copyright a:hover { 
	border-bottom: none;
}
.links ul { 
	margin: 0.0;
	padding: 0.0;
}
.links li { 
	list-style: none;
	margin: 0.0 0.0 5.0px 0.0;
	font-family: 'Montserrat', sans-serif;
	font-size: 11.0px;
	font-weight: 400;
	letter-spacing: 1.0px;
	text-transform: uppercase;
	color: #ff7b55;
}
.bullet { 
	padding: 0.0 10.0px;
}
.globalcontact a, .contactlink a { 
	font-family: 'Montserrat', sans-serif;
	font-size: 13.0px;
	font-weight: 400;
	text-transform: uppercase;
	border-bottom: none;
	letter-spacing: 1.0px;
}
.globalcontact span, .contactlink span { 
	padding-right: 8.0px;
}
.heart { 
	color: #ff7b55;
}
.heart:hover { 
	color: #ff7b55;
}
.center { 
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.text-right { 
	text-align: right;
}
hr { 
	border: solid #eeeeee;
	border-width: 1.0px 0.0 0.0;
	clear: both;
	margin: 0.0;
	height: 0.0;
}
.divider { 
	margin: 30.0px auto;
}
.nobottommargin { 
	margin-bottom: 0.0;
}
.notopmargin { 
	margin-top: 0.0;
}
.notoppadding { 
	padding-top: 0.0;
}
figure { 
	max-width: 100.0% !important;
}

@media screen AND (max-width: 1024.0px) { 
.about img { 
	margin: 20.0px auto;
}
.services img { 
	margin: 0.0 auto 40.0px auto;
}
.number-one { 
	left: 37.0%;
}
.number-two { 
	left: 33.0%;
}
.number-three { 
	left: 33.0%;
}
.number-four { 
	left: 32.0%;
}
article { 
	margin-bottom: 80.0px;
}
#post article { 
	margin-bottom: 40.0px;
}
}

@media screen AND (max-width: 640.0px) { 
body { 
	padding: 0.0 10.0px;
}
header, .container, footer { 
	padding: 30.0px 0.0 20.0px 0.0;
}
.work { 
	padding: 30.0px 0.0 10.0px 0.0;
}
.banner .icon-sun { 
	margin: 0.0 auto 20.0px auto;
	text-align: center;
	display: block;
}
nav ul { 
	margin: 0.0 auto 10.0px auto;
	padding: 0.0;
	text-align: center;
}
nav li { 
	list-style: none;
	display: inline-block;
	margin: 0.0 10.0px;
}
.lead, .large, .more { 
	text-align: center;
}
.lead { 
	font-size: 14.0px;
	font-weight: 400;
}
.large { 
	font-size: 16.0px;
	font-weight: 400;
}
.about h2, .about p, .services { 
	text-align: center;
}
.project img { 
	margin: 20.0px auto 30.0px auto;
}
#proj .right-arrow { 
	text-align: right;
}
.services img { 
	margin-bottom: 20.0px;
}
.services h2 { 
	margin-top: 30.0px;
}
.servicelist { 
	margin-top: 0.0;
}
.servicelist li { 
	margin-bottom: 10.0px;
	line-height: 2.0;
}
.small { 
	line-height: 18.0px;
}
.process h2, .process h3, .process p, .contact h2 { 
	text-align: center;
}
.number-one { 
	left: 39.0%;
}
.number-two { 
	left: 36.0%;
}
.number-three { 
	left: 36.0%;
}
.number-four { 
	left: 35.0%;
}
cite { 
	display: block;
	padding-left: 0.0;
	margin-top: 10.0px;
}
.links ul { 
	margin: 0.0 auto 50.0px auto;
}
.links li { 
	text-align: center;
}
.globalcontact, .copyright { 
	text-align: center;
}
.divider { 
	margin: 20.0px auto;
}
.lgscreen { 
	display: none;
}
.smscreen { 
	display: block;
}
}

@media screen AND (max-width: 480.0px) { 
.number-one { 
	left: 35.0%;
}
.number-two { 
	left: 31.0%;
}
.number-three { 
	left: 31.0%;
}
.number-four { 
	left: 30.0%;
}
}
